:root {
    background-color: #fbfaf9;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}


/* Navbar Section */
nav {
	width: 85%;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 8vh;
}

.nav-logo h1 a {
	font-size: 32px;
	height: auto;
	padding: 0 10px;
    color: red;
    text-decoration: none;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
    list-style: none;
}

.nav-links a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
}
/* End of navbar section */
